.action {
     display: flex;
     flex: 1;
}

.action button {
     padding: 0px 7px;
     margin-right: 5px;
     background-color: transparent;
     border: none;
     font-size: 17px;
     cursor: pointer;
     outline: none;
}
.edit {
     color: #fac60c;
}
.delete {
     color: red;
}