.cont-cart {
     display: flex;
}
.cart {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 80vw;
     margin: 7px 0px;
}
.img-cart {
     width: 120px;
}
.price-name-cart {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 172px;
     text-align: center;
}
.price-name-cart > p {
     font-weight: bold;
     text-transform: capitalize;
     margin-bottom: 8px;
}
.btn-cart > button {
     font-size: 20px;
     background-color: transparent;
     border: none;
     margin: 0px 10px;
     cursor: pointer;
     outline: none;
}