.lenguaje {
     display: flex;
     justify-content: flex-end;
     /* margin-top: 60px; */
}
.lenguaje button {
     width: 85px;
    padding: 5px 0px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    outline: none;
    cursor: pointer;
    margin-right: 40px;
    border-radius: 4px;
}