* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FAFAFA;
}
.skeletor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.disable {
  background-color: #6A6A6A !important;
  border: 1px solid #6A6A6A !important;
  cursor: no-drop !important;
}